

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="POST">
                    <div class="panel panel-default">
                        <div class="panel-heading">Nuevo estudiante </div>
                        <div class="panel-body">
                            <!-- Primera fila Datos personales-->
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>Nombre:</label>
                                    <input type="text" ng-model="newStudent.name" name="name" class="form-control" placeholder="Nombre">
                                </div>
                            </div>
                            <!-- Segunda fila-->
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>Rut:</label>
                                    <input type="text" ng-model="newStudent.rut" name="rut" class="form-control" placeholder="123456789">
                                </div>
                            </div>
                            <!-- Cuarta fila -->
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label> Mail: </label>
                                    <input type="text" ng-model="newStudent.mail" name="direccion" class="form-control" placeholder="ejemplo@gmail.com">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label> Ano de ingreso: </label>
                                    <input type="text" ng-model="newStudent.ingress" name="anoingreso" class="form-control" placeholder="1234">
                                </div>
                            </div>
                            <label>Carrera:</label>
                            <select ng-model="newStudent.career">
                                <option value="0" selected="true">Ninguna</option>
                                <option ng-repeat="career in careers" value="{{career._links.self.href }}">{{ career.name }}</option>
                            </select>


                            <!-- No hay más filas-->
                        </div>
                        <div class="panel-footer">
                            <input class="btn btn-primary" ng-click="send()" type="button" value="Ingresar Informacion">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>