<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form method="POST">
                <div class="panel panel-default">
                    <div class="panel-heading">Nuevo carrera</div>
                    <div class="panel-body">
                        <!-- Primera fila Datos personales-->
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Carrera:</label>
                                <input type="text" ng-model="newCareer.name" name="name" class="form-control" placeholder="Nueva carrera">
                            </div>
                        </div>
                        <!-- No hay más filas-->
                    </div>
                    <div class="panel-footer">
                        <input class="btn btn-primary" ng-click="send()" type="button" value="Ingresar Informacion">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

